.App {
  text-align: center;
}

.search-logo {
  animation: translateAnimation 1.5s ease-in-out infinite;
  position: absolute;
  bottom: 0;
  right: 0;
}

@keyframes translateAnimation {
  0% {
    transform: translateY(8px) translateX(0px);
  }
  8.3% {
    transform: translateY(6px) translateX(3px);
  }
  16.6% {
    transform: translateY(3px) translateX(6px);
  }
  25% {
    transform: translateY(0px) translateX(8px);
  }
  33.2% {
    transform: translateY(-3px) translateX(6px);
  }
  41.5% {
    transform: translateY(-6px) translateX(3px);
  }
  50% {
    transform: translateY(-8px) translateX(0px);
  }
  58.1% {
    transform: translateY(-6px) translateX(-3px);
  }
  66.4% {
    transform: translateY(-3px) translateX(-6px);
  }
  75% {
    transform: translateY(0px) translateX(-8px);
  }
  83% {
    transform: translateY(3px) translateX(-6px);
  }
  91.3% {
    transform: translateY(6px) translateX(-3px);
  }
  100% {
    transform: translateY(8px) translateX(0px);
  }
}

@media (max-width: 463px) {
  .no-flex-xxxs {
    display: block;
    justify-content: unset;
    align-items: unset;
  }
}
